In [113]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [114]:
import requests
import pandas as pd
from datetime import datetime, date, timedelta
import numpy as np
import re
import math

In [115]:
data = pd.read_csv('/content/gdrive/My Drive/ABD_Lab_dataset/hh_parsed_4.csv', delimiter=',')
#data = data.drop(columns=['Unnamed: 0'])
del data['Unnamed: 0']
del data['published_at']
del data['responsibility']
del data['requirement']

df2 = data.loc[data['area'].str.lower().str.contains('москва|санкт-петербург')]
#data = data.drop(data[data['area'].str.lower().str.contains('москва|санкт-петербург')].index)
data

                                                    name  ...  days
0      Системный архитектор НИОКР (вычислительная тех...  ...  42.0
1                                 Java Developer Trainee  ...  42.0
2                                 Java Developer Trainee  ...  42.0
3                              Начальник отдела развития  ...  42.0
4         Главный инженер контроля качества тестирования  ...  42.0
...                                                  ...  ...   ...
48040                                      Монтажник ЛКС  ...  12.0
48041                                     Программист JS  ...  12.0
48042                                 Программист Python  ...  12.0
48043                                  Оператор ЭВМ (ПК)  ...  12.0
48044                              Менеджер отдела ЕГАИС  ...  12.0

[48045 rows x 8 columns]



---


ЧАСТЬ 1
Выполнить сокращение датасета с помощью сокращения размерности: удалить вакансии, у которых больше 70% пропусков по признакам.


---

In [116]:

#data = data.loc[:, data.isnull().mean() < .7]
#data
print(len(data))
data.dropna(axis=0, thresh=0.3, inplace=True)
print(len(data))

48045
48045



---


Часть 2.

Решить задачу классификации вакансий по группам, которые были определены вами в предыдущих лабораторных. Что нужно сделать:


---

In [117]:
def classify(data):
  data = data.dropna(how='any');
  data.loc[data['name'].str.lower().str.contains('angular'), 'name'] = 'Angular'
  data.loc[data['name'].str.lower().str.contains('node'), 'name'] = 'Node'
  data.loc[data['name'].str.lower().str.contains('django'), 'name'] = 'Django'
  data.loc[data['name'].str.lower().str.contains('php'), 'name'] = 'PHP'
  data.loc[data['name'].str.lower().str.contains('vue'), 'name'] = 'Vue'

  data['minSalary'] = data.groupby(['name','area'], sort=False)['minSalary'].apply(lambda x: x.ffill().bfill())
  data['maxSalary'] = data.groupby(['name','area'], sort=False)['maxSalary'].apply(lambda x: x.ffill().bfill())
  data = data[data['name'].str.contains('Angular|Django|Node|PHP|Vue')]

  return data

In [118]:
data = classify(data)
data

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

          name             area  minSalary  ...          schedule     category  days
152        PHP  Санкт-Петербург   100000.0  ...       Полный день       Другое  42.0
418       Node            Минск     4113.0  ...       Полный день       Другое  41.0
419        PHP           Москва   110929.0  ...  Удаленная работа  Программист  41.0
439       Node  Санкт-Петербург    86685.0  ...  Удаленная работа       Другое  41.0
442       Node           Калуга    52052.0  ...  Удаленная работа       Другое  41.0
...        ...              ...        ...  ...               ...          ...   ...
47825  Angular           Казань    57367.0  ...       Полный день       Другое  12.0
47830     Node      Новосибирск    70000.0  ...     Гибкий график       Другое  12.0
47847     Node  Санкт-Петербург    86685.0  ...     Гибкий график       Другое  12.0
47918      PHP          Иркутск    50000.0  ...       Полный день  Программист  12.0
48007      PHP            Пермь    80200.0  ...       Полный день  Разработчик  12.0

[1699 rows x 8 columns]



---


2.2 с помощью LabelEncoder закодировать названия классов и вывести в файл в формате: № + название класса;

https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html


---

In [119]:
le = preprocessing.LabelEncoder()
le.fit(data.name)
for i in le.transform(list(le.classes_)):
  print(i, le.inverse_transform([i]))

0 ['Angular']
1 ['Django']
2 ['Node']
3 ['PHP']
4 ['Vue']

In [120]:
le2 = preprocessing.LabelEncoder()
le2.fit(data.area)
le3 = preprocessing.LabelEncoder()
le3.fit(data.employer)
le4 = preprocessing.LabelEncoder()
le4.fit(data.schedule)
le5 = preprocessing.LabelEncoder()
le5.fit(data.category)


data['area'] = le2.transform(data['area'])
data['employer'] = le3.transform(data['employer'])
data['schedule'] = le4.transform(data['schedule'])
data['category'] = le5.transform(data['category'])
data

          name  area  minSalary  maxSalary  employer  schedule  category  days
152        PHP    81   100000.0   121062.0       643         1         1  42.0
418       Node    54     4113.0     8936.0       131         1         1  41.0
419        PHP    56   110929.0   140000.0       298         2         3  41.0
439       Node    81    86685.0   121062.0       346         2         1  41.0
442       Node    35    52052.0    74973.0       346         2         1  41.0
...        ...   ...        ...        ...       ...       ...       ...   ...
47825  Angular    33    57367.0    91784.0       483         1         1  12.0
47830     Node    63    70000.0   120000.0       182         0         1  12.0
47847     Node    81    86685.0   121062.0       359         0         1  12.0
47918      PHP    30    50000.0    80000.0       541         1         3  12.0
48007      PHP    74    80200.0   104000.0       788         1         4  12.0

[1699 rows x 8 columns]

**разделить исходный датасет на обучающую и тестирующую выборки в соотношении 70% и 30%;**

In [121]:
train = data.iloc[:int(len(data)*0.7)]
test = data.iloc[int(len(data)*0.7)+1:]
train

          name  area  minSalary  maxSalary  employer  schedule  category  days
152        PHP    81   100000.0   121062.0       643         1         1  42.0
418       Node    54     4113.0     8936.0       131         1         1  41.0
419        PHP    56   110929.0   140000.0       298         2         3  41.0
439       Node    81    86685.0   121062.0       346         2         1  41.0
442       Node    35    52052.0    74973.0       346         2         1  41.0
...        ...   ...        ...        ...       ...       ...       ...   ...
33835      PHP    81    59770.0    77429.0       103         1         2  19.0
33839  Angular    84    51405.0    92760.0       903         1         1  19.0
33879     Node    26    44300.0    65143.0       549         1         1  19.0
33913      Vue    63    72414.0    98281.0       792         1         1  19.0
34055      PHP    81   130000.0   150000.0       236         1         1  19.0

[1189 rows x 8 columns]

In [122]:
train_labels = le.transform(train.name)
test_labels = le.transform(test.name)

del train['name']
del test['name']
train_labels

array([3, 2, 3, ..., 2, 4, 3])

In [123]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
clf = LogisticRegression()
scores = cross_val_score(clf, train, train_labels)
print("____________________________________________")
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
print("____________________________________________")

scores = cross_val_score(clf, test, test_labels)
print("____________________________________________")
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
print("____________________________________________")

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

____________________________________________
Accuracy: 0.64 (+/- 0.01)
____________________________________________
____________________________________________
Accuracy: 0.69 (+/- 0.02)
____________________________________________

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [124]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier()
scores = cross_val_score(neigh, train, train_labesl)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

scores = cross_val_score(neigh, test, test_labesl)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.61 (+/- 0.12)
Accuracy: 0.59 (+/- 0.05)

In [125]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier(random_state=0)
scores = cross_val_score(clf, train, train_labesl)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

scores = cross_val_score(clf, test, test_labesl)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.42 (+/- 0.36)
Accuracy: 0.52 (+/- 0.37)

**Последняя модель чет совсем мало выдала, а в первой какие-то варнинги (что вроде не очень хорошо, но как это исправить я так и не понял), поэтому возьмем вторую модель на K-соседей**



---

**Начало 2.2**

---

In [126]:
df2 = classify(df2)
df2

       name             area  minSalary  ...          schedule     category  days
152     PHP  Санкт-Петербург   100000.0  ...       Полный день       Другое  42.0
419     PHP           Москва   110929.0  ...  Удаленная работа  Программист  41.0
439    Node  Санкт-Петербург    86685.0  ...  Удаленная работа       Другое  41.0
458    Node  Санкт-Петербург    86685.0  ...     Гибкий график       Другое  41.0
740     PHP           Москва    98585.0  ...       Полный день       Другое  41.0
...     ...              ...        ...  ...               ...          ...   ...
47677   PHP           Москва   130000.0  ...       Полный день       Другое  12.0
47691   PHP  Санкт-Петербург    86685.0  ...       Полный день       Другое  12.0
47770   PHP  Санкт-Петербург    86685.0  ...       Полный день       Другое  12.0
47783   PHP           Москва   180000.0  ...  Удаленная работа       Другое  12.0
47847  Node  Санкт-Петербург    86685.0  ...     Гибкий график       Другое  12.0

[618 rows x 8 columns]

**Немного не уверен на счет того надо было ли дропать `category` но на всякий соучай этот признак оставил**

In [130]:
le = preprocessing.LabelEncoder()
le.fit(df2.name)
for i in le.transform(list(le.classes_)):
  print(i, le.inverse_transform([i]))

le2 = preprocessing.LabelEncoder()
le2.fit(df2.area)
le3 = preprocessing.LabelEncoder()
le3.fit(df2.employer)
le4 = preprocessing.LabelEncoder()
le4.fit(df2.schedule)
le5 = preprocessing.LabelEncoder()
le5.fit(df2.category)



df2['area'] = le2.transform(df2['area'])
df2['employer'] = le3.transform(df2['employer'])
df2['schedule'] = le4.transform(df2['schedule'])
df2['category'] = le5.transform(df2['category'])
df2

0 ['Angular']
1 ['Django']
2 ['Node']
3 ['PHP']
4 ['Vue']

       name  area  minSalary  maxSalary  employer  schedule  category  days
152     PHP     1   100000.0   121062.0       322         1         1  42.0
419     PHP     0   110929.0   140000.0       153         2         3  41.0
439    Node     1    86685.0   121062.0       179         2         1  41.0
458    Node     1    86685.0   121062.0       104         0         1  41.0
740     PHP     0    98585.0   143308.0       314         1         1  41.0
...     ...   ...        ...        ...       ...       ...       ...   ...
47677   PHP     0   130000.0   170000.0       227         1         1  12.0
47691   PHP     1    86685.0   121062.0       438         1         1  12.0
47770   PHP     1    86685.0   121062.0       438         1         1  12.0
47783   PHP     0   180000.0   260000.0        14         2         1  12.0
47847  Node     1    86685.0   121062.0       185         0         1  12.0

[618 rows x 8 columns]

In [131]:
data_labels = le.transform(data.name)
del data['name']
df2_labels = le.transform(df2.name)
del df2['name']

In [132]:

neigh = KNeighborsClassifier()
scores = cross_val_score(neigh, data, data_labels)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.60 (+/- 0.05)

In [133]:
neigh.fit(data, data_labels)
predictions = neigh.predict(df2)
predictions

array([3, 3, 2, 0, 3, 2, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 2,
       3, 3, 2, 3, 3, 3, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0, 3, 4, 3, 2, 1, 2,
       2, 2, 3, 3, 3, 2, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 0, 3, 3, 4, 4,
       3, 0, 2, 4, 3, 3, 3, 3, 2, 3, 0, 3, 3, 3, 3, 0, 3, 2, 2, 3, 2, 2,
       3, 3, 3, 3, 3, 3, 3, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2,
       3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 0, 3, 0, 0, 3, 3, 3, 3, 3, 3, 3,
       2, 3, 3, 3, 3, 0, 3, 3, 3, 3, 0, 3, 3, 3, 3, 3, 3, 0, 0, 0, 3, 3,
       3, 3, 3, 2, 3, 3, 3, 1, 3, 3, 3, 3, 3, 2, 3, 3, 2, 2, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 0, 3, 3, 3, 3, 3, 0, 2, 3, 3, 3, 3, 3, 3, 2, 3,
       3, 2, 3, 3, 3, 0, 3, 2, 3, 3, 3, 3, 3, 3, 0, 2, 3, 3, 3, 3, 3, 3,
       3, 3, 2, 2, 2, 3, 2, 2, 3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 2, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 2, 3, 3, 3, 3, 3, 2, 1,
       3, 3, 3, 3, 2, 2, 3, 3, 0, 0, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 2, 0,
       3, 3, 3, 3, 3, 3, 3, 3, 2, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2,
       3, 3, 3, 3, 2, 3, 0, 2, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 2, 2, 3, 4,
       3, 2, 3, 3, 0, 3, 3, 3, 2, 3, 3, 3, 4, 3, 3, 2, 3, 3, 3, 3, 4, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 0, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 1, 3, 2, 3, 3, 3, 3, 3, 3, 0, 3, 3, 2, 3, 3, 3, 2,
       3, 3, 4, 3, 2, 3, 3, 3, 3, 3, 0, 2, 4, 3, 0, 2, 3, 3, 3, 0, 3, 3,
       0, 3, 3, 3, 2, 2, 3, 3, 0, 3, 4, 3, 3, 3, 2, 3, 0, 1, 3, 3, 0, 3,
       3, 3, 3, 0, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 2, 1, 3, 3, 3, 0, 2, 2, 3, 2, 0, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 2, 3, 3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 2])

**вывести в csv-файл результаты предсказания в формате по столбцам: “Предсказанная моделью группа”, “Определенная по алгоритму группа”, [Признаки вакансий].**

In [134]:
da = pd.DataFrame()
da["Предсказанная моделью групп"] = le.inverse_transform(predictions)
da["Определенная по алгоритму группа"] = le.inverse_transform(df2_labels)

In [135]:
df2['area'] = le2.inverse_transform(df2['area'])
df2['employer'] = le3.inverse_transform(df2['employer'])
df2['schedule'] = le4.inverse_transform(df2['schedule'])
df2['category'] = le5.inverse_transform(df2['category'])
da["Признаки вакансий"] = df2.values.tolist()

In [136]:
da.to_csv("da.csv")

In [137]:
pd.set_option('display.max_rows', None)
da

    Предсказанная моделью групп  ...                                  Признаки вакансий
0                           PHP  ...      [1, 100000.0, 121062.0, 322, 1, Другое, 42.0]
1                           PHP  ...  [0, 110929.0, 140000.0, 153, 2, Программист, 4...
2                          Node  ...       [1, 86685.0, 121062.0, 179, 2, Другое, 41.0]
3                       Angular  ...       [1, 86685.0, 121062.0, 104, 0, Другое, 41.0]
4                           PHP  ...       [0, 98585.0, 143308.0, 314, 1, Другое, 41.0]
5                          Node  ...  [0, 110929.0, 300000.0, 406, 1, Программист, 4...
6                           PHP  ...  [0, 110929.0, 110000.0, 212, 2, Программист, 4...
7                           PHP  ...       [0, 98585.0, 143308.0, 431, 1, Другое, 41.0]
8                           PHP  ...       [0, 98585.0, 143308.0, 391, 1, Другое, 41.0]
9                           PHP  ...  [0, 110929.0, 145932.0, 211, 2, Программист, 4...
10                       Django  ...       [1, 90000.0, 121062.0, 280, 2, Другое, 41.0]
11                          PHP  ...      [1, 100000.0, 140000.0, 155, 2, Другое, 41.0]
12                          PHP  ...       [0, 80000.0, 143308.0, 163, 1, Другое, 41.0]
13                          PHP  ...        [0, 60000.0, 90000.0, 318, 2, Другое, 41.0]
14                          PHP  ...       [0, 98585.0, 143308.0, 192, 1, Другое, 41.0]
15                          PHP  ...          [1, 3000.0, 3500.0, 162, 2, Другое, 41.0]
16                          PHP  ...        [0, 90000.0, 143308.0, 26, 2, Другое, 41.0]
17                          PHP  ...  [0, 118004.0, 181023.0, 319, 0, Разработчик, 4...
18                         Node  ...       [1, 86685.0, 121062.0, 244, 1, Другое, 41.0]
19                          PHP  ...  [0, 118004.0, 181023.0, 257, 2, Разработчик, 4...
20                          PHP  ...       [1, 86685.0, 200000.0, 291, 1, Другое, 41.0]
21                         Node  ...        [0, 98585.0, 143308.0, 57, 1, Другое, 41.0]
22                          PHP  ...       [1, 86685.0, 121062.0, 291, 1, Другое, 41.0]
23                          PHP  ...       [1, 96000.0, 112000.0, 262, 1, Другое, 41.0]
24                         Node  ...       [1, 86685.0, 121062.0, 373, 1, Другое, 40.0]
25                          PHP  ...  [0, 118004.0, 181023.0, 386, 1, Разработчик, 4...
26                          PHP  ...       [0, 80000.0, 120000.0, 310, 2, Другое, 40.0]
27                          PHP  ...       [0, 50000.0, 100000.0, 300, 2, Другое, 40.0]
28                          PHP  ...         [0, 98585.0, 143308.0, 8, 2, Другое, 40.0]
29                          PHP  ...       [0, 98585.0, 143308.0, 328, 0, Другое, 40.0]
30                          PHP  ...      [1, 120000.0, 121062.0, 273, 1, Другое, 40.0]
31                      Angular  ...        [1, 86685.0, 121062.0, 15, 1, Другое, 40.0]
32                          PHP  ...  [1, 140000.0, 146607.0, 158, 1, Разработчик, 4...
33                      Angular  ...       [1, 86685.0, 121062.0, 210, 0, Другое, 40.0]
34                          PHP  ...  [0, 118004.0, 181023.0, 356, 2, Разработчик, 4...
35                          PHP  ...        [0, 98585.0, 143308.0, 35, 2, Другое, 40.0]
36                          PHP  ...        [0, 98585.0, 143308.0, 74, 2, Другое, 40.0]
37                      Angular  ...      [0, 180000.0, 230000.0, 337, 2, Другое, 40.0]
38                          PHP  ...       [0, 98585.0, 143308.0, 350, 1, Другое, 40.0]
39                          Vue  ...      [0, 150000.0, 180000.0, 249, 2, Другое, 39.0]
40                          PHP  ...         [0, 98585.0, 143308.0, 5, 1, Другое, 39.0]
41                         Node  ...       [1, 86685.0, 121062.0, 185, 0, Другое, 39.0]
42                       Django  ...  [1, 99909.0, 146607.0, 266, 0, Разработчик, 39.0]
43                         Node  ...        [0, 98585.0, 300000.0, 51, 1, Другое, 39.0]
44                         Node  ...        [1, 86685.0, 300000.0, 51, 1, Другое, 39.0]
45                         Node  ...        [0, 98585.0, 300000.0, 51, 1, Другое, 39.0]
46                          PHP  ...       [1, 86685.0, 121062.0, 164, 1, Другое, 39.0]
47                          PHP  ...      [0, 300000.0, 143308.0, 175, 2, Другое, 39.0]
48                          PHP  ...   [0, 35000.0, 60000.0, 426, 1, Программист, 39.0]
49                         Node  ...        [1, 86685.0, 121062.0, 93, 1, Другое, 39.0]
50                          PHP  ...         [1, 60000.0, 75000.0, 62, 2, Другое, 39.0]
51                          PHP  ...       [1, 60000.0, 121062.0, 220, 2, Другое, 39.0]
52                          PHP  ...       [0, 98585.0, 143308.0, 415, 1, Другое, 39.0]
53                          PHP  ...       [1, 70000.0, 110000.0, 444, 1, Другое, 39.0]
54                          PHP  ...       [0, 90000.0, 143308.0, 346, 1, Другое, 39.0]
55                       Django  ...  [1, 99909.0, 146607.0, 152, 2, Разработчик, 39.0]
56                          PHP  ...      [1, 120000.0, 121062.0, 142, 2, Другое, 39.0]
57                          PHP  ...       [0, 98585.0, 170000.0, 126, 0, Другое, 39.0]
58                          PHP  ...      [0, 120000.0, 130000.0, 137, 0, Другое, 39.0]
59                          PHP  ...       [0, 80000.0, 110000.0, 368, 1, Другое, 39.0]
60                          PHP  ...  [0, 118004.0, 181023.0, 363, 1, Разработчик, 3...
61                      Angular  ...       [1, 86685.0, 220000.0, 188, 1, Другое, 38.0]
62                          PHP  ...          [1, 86685.0, 1500.0, 54, 2, Другое, 38.0]
63                          PHP  ...        [0, 98585.0, 143308.0, 74, 2, Другое, 38.0]
64                          Vue  ...  [0, 150000.0, 180000.0, 330, 1, Разработчик, 3...
65                          Vue  ...  [0, 150000.0, 180000.0, 330, 1, Разработчик, 3...
66                          PHP  ...      [0, 220000.0, 143308.0, 252, 1, Другое, 38.0]
67                      Angular  ...        [1, 86685.0, 121062.0, 47, 0, Другое, 38.0]
68                         Node  ...        [0, 98585.0, 143308.0, 47, 0, Другое, 38.0]
69                          Vue  ...  [0, 150000.0, 181023.0, 191, 1, Разработчик, 3...
70                          PHP  ...  [1, 100000.0, 150000.0, 394, 1, Разработчик, 3...
71                          PHP  ...      [0, 110000.0, 180000.0, 307, 2, Другое, 38.0]
72                          PHP  ...        [0, 98585.0, 143308.0, 66, 1, Другое, 38.0]
73                          PHP  ...       [0, 98585.0, 143308.0, 112, 2, Другое, 38.0]
74                         Node  ...       [0, 98585.0, 143308.0, 140, 1, Другое, 38.0]
75                          PHP  ...       [0, 50000.0, 100000.0, 114, 2, Другое, 38.0]
76                      Angular  ...        [1, 86685.0, 121062.0, 56, 0, Другое, 38.0]
77                          PHP  ...       [1, 80000.0, 121062.0, 407, 2, Другое, 38.0]
78                          PHP  ...       [0, 98585.0, 143308.0, 317, 1, Другое, 38.0]
79                          PHP  ...       [0, 98585.0, 143308.0, 304, 1, Другое, 38.0]
80                          PHP  ...       [0, 60000.0, 100000.0, 344, 2, Другое, 38.0]
81                      Angular  ...      [0, 150000.0, 250000.0, 139, 2, Другое, 38.0]
82                          PHP  ...  [0, 50000.0, 200000.0, 424, 1, Разработчик, 38.0]
83                         Node  ...       [0, 98585.0, 143308.0, 140, 2, Другое, 37.0]
84                         Node  ...       [0, 98585.0, 143308.0, 140, 2, Другое, 37.0]
85                          PHP  ...  [0, 110929.0, 145932.0, 88, 2, Программист, 37.0]
86                         Node  ...        [1, 86685.0, 121062.0, 63, 2, Другое, 37.0]
87                         Node  ...       [0, 98585.0, 143308.0, 140, 1, Другое, 37.0]
88                          PHP  ...  [0, 118004.0, 181023.0, 108, 1, Разработчик, 3...
89                          PHP  ...  [0, 118004.0, 181023.0, 298, 1, Разработчик, 3...
90                          PHP  ...       [0, 98585.0, 143308.0, 355, 1, Другое, 37.0]
91                          PHP  ...       [0, 98585.0, 143308.0, 355, 1, Другое, 37.0]
92                          PHP  ...       [0, 98585.0, 143308.0, 317, 1, Другое, 37.0]
93                          PHP  ...       [0, 98585.0, 143308.0, 340, 1, Другое, 37.0]
94                          PHP  ...       [0, 98585.0, 143308.0, 355, 1, Другое, 37.0]
95                      Angular  ...        [1, 86685.0, 121062.0, 15, 1, Другое, 37.0]
96                          PHP  ...       [0, 98585.0, 143308.0, 365, 2, Другое, 37.0]
97                          PHP  ...       [0, 98585.0, 143308.0, 278, 1, Другое, 37.0]
98                          PHP  ...       [0, 98585.0, 143308.0, 221, 2, Другое, 37.0]
99                          PHP  ...       [0, 98585.0, 143308.0, 192, 1, Другое, 37.0]
100                         PHP  ...       [0, 98585.0, 143308.0, 243, 1, Другое, 37.0]
101                         PHP  ...  [1, 120000.0, 128426.0, 169, 1, Программист, 3...
102                         PHP  ...       [1, 86685.0, 140000.0, 413, 1, Другое, 37.0]
103                         PHP  ...        [0, 98585.0, 143308.0, 75, 1, Другое, 37.0]
104                         PHP  ...       [0, 98585.0, 143308.0, 111, 0, Другое, 37.0]
105                         PHP  ...  [0, 118004.0, 181023.0, 129, 2, Разработчик, 3...
106                         PHP  ...       [0, 70000.0, 100000.0, 116, 2, Другое, 36.0]
107                         PHP  ...        [1, 40000.0, 60000.0, 295, 1, Другое, 36.0]
108                         PHP  ...           [0, 2000.0, 3000.0, 73, 2, Другое, 35.0]
109                        Node  ...       [0, 98585.0, 143308.0, 147, 0, Другое, 35.0]
110                         PHP  ...       [0, 98585.0, 143308.0, 319, 0, Другое, 35.0]
111                         PHP  ...           [0, 1600.0, 2400.0, 30, 2, Другое, 35.0]
112                         PHP  ...       [0, 98585.0, 160000.0, 316, 2, Другое, 35.0]
113                         PHP  ...       [1, 86685.0, 100000.0, 207, 1, Другое, 34.0]
114                         PHP  ...         [1, 86685.0, 121062.0, 6, 1, Другое, 34.0]
115                         PHP  ...        [0, 98585.0, 143308.0, 10, 1, Другое, 34.0]
116                         PHP  ...  [0, 140000.0, 160000.0, 138, 1, Разработчик, 3...
117                        Node  ...      [1, 250000.0, 350000.0, 294, 1, Другое, 34.0]
118                         PHP  ...       [0, 98585.0, 143308.0, 119, 1, Другое, 34.0]
119                         PHP  ...         [0, 98585.0, 143308.0, 3, 2, Другое, 34.0]
120                         PHP  ...       [0, 98585.0, 143308.0, 447, 2, Другое, 34.0]
121                     Angular  ...      [0, 170000.0, 240000.0, 177, 1, Другое, 34.0]
122                         PHP  ...       [0, 98585.0, 143308.0, 397, 1, Другое, 34.0]
123                     Angular  ...       [1, 86685.0, 121062.0, 113, 1, Другое, 34.0]
124                     Angular  ...       [1, 86685.0, 121062.0, 113, 1, Другое, 34.0]
125                         PHP  ...       [0, 98585.0, 143308.0, 317, 1, Другое, 34.0]
126                         PHP  ...       [0, 150000.0, 143308.0, 34, 2, Другое, 34.0]
127                         PHP  ...       [1, 80000.0, 120000.0, 394, 1, Другое, 34.0]
128                         PHP  ...       [0, 98585.0, 200000.0, 161, 1, Другое, 34.0]
129                         PHP  ...          [0, 2400.0, 4000.0, 131, 2, Другое, 34.0]
130                         PHP  ...       [0, 80000.0, 120000.0, 255, 1, Другое, 34.0]
131                         PHP  ...        [0, 98585.0, 143308.0, 82, 1, Другое, 34.0]
132                        Node  ...       [1, 86685.0, 121062.0, 355, 1, Другое, 34.0]
133                         PHP  ...  [0, 118004.0, 181023.0, 198, 1, Разработчик, 3...
134                         PHP  ...       [1, 100000.0, 121062.0, 64, 2, Другое, 34.0]
135                         PHP  ...       [0, 170000.0, 210000.0, 74, 2, Другое, 34.0]
136                         PHP  ...           [0, 5000.0, 6500.0, 74, 2, Другое, 34.0]
137                     Angular  ...       [1, 86685.0, 121062.0, 219, 2, Другое, 34.0]
138                         PHP  ...           [0, 5000.0, 6000.0, 74, 2, Другое, 34.0]
139                         PHP  ...      [0, 120000.0, 143308.0, 268, 1, Другое, 34.0]
140                         PHP  ...       [0, 98585.0, 143308.0, 415, 1, Другое, 34.0]
141                         PHP  ...       [0, 50000.0, 143308.0, 187, 1, Другое, 34.0]
142                     Angular  ...       [1, 86685.0, 121062.0, 210, 1, Другое, 34.0]
143                         PHP  ...       [0, 98585.0, 143308.0, 304, 1, Другое, 33.0]
144                         PHP  ...       [0, 120000.0, 160000.0, 19, 1, Другое, 33.0]
145                         PHP  ...       [1, 120000.0, 160000.0, 19, 1, Другое, 33.0]
146                         PHP  ...        [0, 98585.0, 143308.0, 79, 1, Другое, 33.0]
147                         PHP  ...        [0, 98585.0, 143308.0, 99, 2, Другое, 33.0]
148                         PHP  ...       [0, 98585.0, 143308.0, 372, 1, Другое, 33.0]
149                     Angular  ...        [1, 86685.0, 121062.0, 39, 1, Другое, 33.0]
150                     Angular  ...        [1, 86685.0, 121062.0, 39, 1, Другое, 33.0]
151                     Angular  ...        [1, 86685.0, 121062.0, 39, 1, Другое, 33.0]
152                         PHP  ...        [1, 10000.0, 10000.0, 117, 1, Другое, 33.0]
153                         PHP  ...      [1, 110000.0, 121062.0, 256, 1, Другое, 33.0]
154                         PHP  ...       [0, 98585.0, 143308.0, 333, 1, Другое, 33.0]
155                         PHP  ...      [1, 120000.0, 180000.0, 294, 1, Другое, 33.0]
156                         PHP  ...       [0, 60000.0, 143308.0, 376, 1, Другое, 33.0]
157                        Node  ...  [0, 80000.0, 181023.0, 226, 2, Разработчик, 33.0]
158                         PHP  ...   [0, 30000.0, 50000.0, 427, 1, Программист, 33.0]
159                         PHP  ...  [0, 60000.0, 80000.0, 432, 1, Администратор, 3...
160                         PHP  ...        [0, 98585.0, 143308.0, 36, 1, Другое, 33.0]
161                      Django  ...  [1, 99909.0, 146607.0, 303, 2, Разработчик, 33.0]
162                         PHP  ...       [0, 80000.0, 150000.0, 173, 2, Другое, 33.0]
163                         PHP  ...       [0, 98585.0, 143308.0, 186, 1, Другое, 33.0]
164                         PHP  ...       [0, 98585.0, 143308.0, 198, 1, Другое, 33.0]
165                         PHP  ...       [0, 98585.0, 143308.0, 239, 1, Другое, 33.0]
166                         PHP  ...        [0, 80000.0, 143308.0, 46, 2, Другое, 33.0]
167                        Node  ...        [0, 98585.0, 143308.0, 52, 1, Другое, 33.0]
168                         PHP  ...        [0, 98585.0, 143308.0, 32, 2, Другое, 33.0]
169                         PHP  ...       [1, 86685.0, 121062.0, 260, 1, Другое, 33.0]
170                        Node  ...        [1, 86685.0, 121062.0, 68, 1, Другое, 32.0]
171                        Node  ...        [1, 86685.0, 121062.0, 68, 1, Другое, 32.0]
172                         PHP  ...        [0, 4000.0, 143308.0, 172, 1, Другое, 32.0]
173                         PHP  ...        [1, 4000.0, 121062.0, 172, 1, Другое, 32.0]
174                         PHP  ...       [0, 98585.0, 150000.0, 437, 1, Другое, 32.0]
175                         PHP  ...       [0, 98585.0, 143308.0, 297, 1, Другое, 32.0]
176                         PHP  ...       [0, 98585.0, 143308.0, 398, 0, Другое, 32.0]
177                         PHP  ...       [1, 86685.0, 121062.0, 147, 2, Другое, 32.0]
178                         PHP  ...  [0, 110929.0, 145932.0, 287, 1, Программист, 3...
179                         PHP  ...  [0, 60000.0, 145932.0, 401, 1, Программист, 32.0]
180                         PHP  ...       [0, 98585.0, 143308.0, 425, 1, Другое, 32.0]
181                         PHP  ...       [0, 98585.0, 143308.0, 193, 1, Другое, 32.0]
182                     Angular  ...       [1, 86685.0, 121062.0, 107, 1, Другое, 32.0]
183                         PHP  ...  [0, 110929.0, 145932.0, 439, 1, Программист, 3...
184                         PHP  ...        [0, 98585.0, 143308.0, 12, 1, Другое, 32.0]
185                         PHP  ...       [0, 98585.0, 143308.0, 398, 0, Другое, 32.0]
186                         PHP  ...       [0, 98585.0, 143308.0, 301, 0, Другое, 32.0]
187                         PHP  ...       [0, 85000.0, 120000.0, 105, 2, Другое, 32.0]
188                     Angular  ...      [0, 200000.0, 220000.0, 205, 2, Другое, 32.0]
189                        Node  ...       [0, 170000.0, 143308.0, 42, 2, Другое, 32.0]
190                         PHP  ...        [0, 98585.0, 143308.0, 94, 0, Другое, 32.0]
191                         PHP  ...      [0, 150000.0, 200000.0, 168, 2, Другое, 32.0]
192                         PHP  ...       [1, 100000.0, 120000.0, 29, 2, Другое, 32.0]
193                         PHP  ...       [1, 80000.0, 121062.0, 311, 0, Другое, 32.0]
194                         PHP  ...       [0, 98585.0, 143308.0, 402, 1, Другое, 32.0]
195                         PHP  ...        [0, 98585.0, 143308.0, 32, 1, Другое, 32.0]
196                        Node  ...       [1, 86685.0, 121062.0, 183, 2, Другое, 32.0]
197                         PHP  ...       [1, 86685.0, 121062.0, 159, 2, Другое, 32.0]
198                         PHP  ...       [0, 98585.0, 143308.0, 339, 1, Другое, 32.0]
199                        Node  ...      [0, 220000.0, 350000.0, 110, 1, Другое, 32.0]
200                         PHP  ...       [0, 140000.0, 200000.0, 48, 2, Другое, 32.0]
201                         PHP  ...       [0, 98585.0, 143308.0, 193, 1, Другое, 32.0]
202                         PHP  ...  [0, 110929.0, 110000.0, 212, 2, Программист, 3...
203                     Angular  ...        [1, 86685.0, 121062.0, 25, 1, Другое, 31.0]
204                         PHP  ...       [0, 98585.0, 143308.0, 172, 1, Другое, 31.0]
205                        Node  ...       [1, 86685.0, 121062.0, 210, 0, Другое, 31.0]
206                         PHP  ...        [1, 80000.0, 100000.0, 78, 0, Другое, 31.0]
207                         PHP  ...       [0, 120000.0, 143308.0, 78, 1, Другое, 31.0]
208                         PHP  ...         [0, 98585.0, 143308.0, 2, 1, Другое, 31.0]
209                         PHP  ...         [0, 98585.0, 143308.0, 2, 1, Другое, 31.0]
210                         PHP  ...  [0, 110929.0, 230000.0, 135, 1, Программист, 3...
211                         PHP  ...       [0, 98585.0, 143308.0, 384, 1, Другое, 31.0]
212                     Angular  ...  [1, 92222.0, 230000.0, 135, 1, Программист, 31.0]
213                        Node  ...       [1, 86685.0, 121062.0, 210, 0, Другое, 31.0]
214                         PHP  ...        [0, 98585.0, 175000.0, 60, 2, Другое, 31.0]
215                         PHP  ...       [0, 98585.0, 143308.0, 433, 1, Другое, 31.0]
216                         PHP  ...        [1, 86685.0, 200000.0, 69, 2, Другое, 31.0]
217                         PHP  ...      [0, 120000.0, 180000.0, 342, 2, Другое, 31.0]
218                         PHP  ...  [1, 60000.0, 128426.0, 190, 1, Программист, 31.0]
219                         PHP  ...        [0, 98585.0, 100000.0, 72, 1, Другое, 31.0]
220                         PHP  ...       [0, 98585.0, 143308.0, 240, 1, Другое, 31.0]
221                         PHP  ...        [0, 98585.0, 143308.0, 95, 2, Другое, 31.0]
222                        Node  ...       [1, 86685.0, 121062.0, 231, 2, Другое, 31.0]
223                        Node  ...       [0, 98585.0, 143308.0, 231, 2, Другое, 31.0]
224                        Node  ...       [0, 98585.0, 143308.0, 232, 1, Другое, 31.0]
225                         PHP  ...   [1, 40000.0, 128426.0, 11, 2, Программист, 31.0]